body{
  margin: 0;
  padding: 0;
  background-color: rgb(241, 255, 97);
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.switchfoto {
  width: 40%;
  height: 100%;
  object-fit: cover;
  margin: 200px;
  box-shadow: 1px 1px 10px black;
}




.logolink {
  display: inline-block; 
  width: 100%; 
  height: 100%;
  z-index: 10;
}



  .logo {
    z-index: 10;
    display: block;
    width: 7vw;
    height: 7vw;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }



  .arrow-button {
    display: inline-block;
    padding: 1vw 2vw;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    background-color: #333; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .arrow-button:hover {
    background-color: #555; 
  }

  .arrow-button:active {
    background-color: #222; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


  #lt{
    position: absolute;
    margin: 0;
    left: 22vw;
  }

  #gt{
    position: absolute;
    margin: 0;

    right: 22vw;
  }


.h1container{
  top: 0;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 40rem;
  background-color: white;
  z-index: -1;
}

.MitMachContainer{
  width: 100%;
  position: relative;
  text-align: center;
  top: -200px;
}
.MitMach{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

.Infos {
  font-size: 1.5rem;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.InfosContainer{
  width: 100%;
  position: relative;
  text-align: justify;
  top: -90px;
}



@media screen and (max-width: 750px){
  .logo {
    width: 5rem;
    height: 5rem;
  }
}



@media screen and (max-width: 650px) {

  .arrow-button{
    padding: calc(1vw *2) calc(2vw*2);
    font-size: calc(2vw*2);
  }

  .MitMach{
    font-size: 1rem;
    padding: 0 10px 0 10px;
  }

  .Infos{
    font-size: 1rem;
    padding: 0 10px 0 10px;
  }

  .MitMachContainer{
    top: -100px;
  }

  .InfosContainer{
    top: -20px;
  }




  .switchfoto{
    width: calc(40% * 1.5);
  }

  #lt{
    left: calc(22vw * 0.5);
  }

  #gt{
    right: calc(22vw * 0.5);
  }






}

@media screen and (max-width: 450px){
  h1{
    font-size: 3rem;
  }
}

@media screen and (max-width: 390px){
  h1{
    font-size: 2rem;
  }
}




.navigation {
  position: absolute;
  margin: 0;
  padding: 0;

  ul {
    font-size: 20px;

    margin: 0;

    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      padding: 1rem;
      background-color: rgba(73, 73, 73, 0.8);

      gap: 3rem;
      position: relative;
      a {
        text-decoration: none;
        color:white;
      }
      ul {
        display: flex;
        flex-direction: column;
        display: none;
        margin-top: 39px;
        width: auto;

        position: absolute;
        right: -16px;

        padding: 1rem;
        width: 100%;
        text-align: center;

        li {
          padding: 7px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menüicon {
  display: none;
}


@media screen and (min-width: 651px) {
  #menüicon {
    display: none;
  }
}






@media screen and (min-width: 651px) {
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  .navigation {
    display: none;
    right: 0;
  }

  #menüicon {
    position: fixed;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(73, 73, 73, 0.8);
    padding: 0.5rem;
    right: 0;
    top: 0;
    border-radius: 10px;
    z-index: 20;
  }

} 
