.logolink {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.logo {
  z-index: 10;
  display: block;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0eee2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

.NewsContainer {
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.flex-container {
  width: 100%;
  height: auto;
  margin: 20rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  flex: 1 0 50rem;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 560px;
  position: relative;
  margin: 1rem 0 1rem 0;
}

.imgnews {
  display: block;
  position: absolute;
  width: 35rem;
  height: 25rem;
  object-fit: cover;
}

.h2Container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  color: black;
  text-align: center;
  font-size: 1rem;
}

.Instagram {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 820px) {
  .imgnews {
    width: 23.3rem;
    height: 16.6rem;
  }

  .flex-item {
    flex-basis: 60%;
  }

  .flex-item {
    height: 400px;
  }

  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }

  .flex-container {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1900px) {
  .imgnews {
    height: 40rem;
    width: 56rem;
  }

  .flex-item {
    height: 800px;
  }

  .h2Container {
    width: 50%;
    height: 40%;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

.navigation {
  position: absolute;
  margin: 0;
  padding: 0;

  ul {
    font-size: 20px;

    margin: 0;

    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      padding: 1rem;
      background-color: rgba(73, 73, 73, 0.8);

      gap: 3rem;
      position: relative;
      a {
        text-decoration: none;
        color: white;
      }
      ul {
        display: flex;
        flex-direction: column;
        display: none;
        margin-top: 39px;
        width: auto;

        position: absolute;
        right: -16px;

        padding: 1rem;
        width: 100%;
        text-align: center;

        li {
          padding: 7px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menüicon {
  display: none;
}

@media screen and (min-width: 651px) {
  #menüicon {
    display: none;
  }
}

@media screen and (min-width: 651px) {
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  .navigation {
    display: none;
    right: 0;
  }

  #menüicon {
    position: fixed;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(73, 73, 73, 0.8);
    padding: 0.5rem;
    right: 0;
    top: 0;
    border-radius: 10px;
    z-index: 20;
  }
}
