body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 239, 99);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  z-index: 10;
  display: block;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.Bienenstöcke {
  position: absolute;
  left: 3rem;
  top: 10rem;
  width: 45%;
  height: 30rem;
  object-fit: cover;
}

.Schaukasten {
  position: absolute;
  right: 3rem;
  top: 10rem;
  width: 45%;
  height: 30rem;
  object-fit: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgb(255, 239, 99);
}

.Völker {
  color: black;
  font-size: 3rem;
}

.Container {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.H2 {
  color: black;
  font-size: 1rem;
  padding: 2rem;
}

.H2Container {
  position: absolute;
  top: 42rem;
  left: 3rem;
  width: 45%;
  text-align: justify;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  border-radius: 3rem;
}

.SchaukastenH2 {
  position: absolute;
  top: 42rem;
  right: 3rem;
  width: 45%;
  text-align: justify;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  border-radius: 3rem;
}

@media screen and (max-width: 750px) {
  .logo {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .Bienenstöcke {
    width: 90%;
    left: 5%;
  }
  .H2Container {
    width: 90%;
    left: 5%;
  }
  .Schaukasten {
    width: 90%;
    left: 5%;
    top: 70rem;
  }

  .SchaukastenH2 {
    width: 90%;
    left: 5%;
    top: 105rem;
  }
}

@media screen and (max-width: 560px) {
  .Schaukasten {
    top: 80rem;
  }
  .SchaukastenH2 {
    top: 115rem;
  }
}

@media screen and (max-height: 700px) {
  .Bienenstöcke {
    height: 20rem;
  }
  .H2Container {
    top: 32rem;
  }
  .H2 {
    font-size: 0.8rem;
  }
  .Schaukasten {
    height: 20rem;
    top: 60rem;
  }
  .SchaukastenH2 {
    top: 83rem;
  }
}
@media screen and (min-width: 1430px) {
  .H2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .H2 {
    font-size: 1.7rem;
  }
}

.navigation {
  position: absolute;
  margin: 0;
  padding: 0;

  ul {
    font-size: 20px;

    margin: 0;

    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      padding: 1rem;
      background-color: rgba(73, 73, 73, 0.8);

      gap: 3rem;
      position: relative;
      a {
        text-decoration: none;
        color: white;
      }
      ul {
        display: flex;
        flex-direction: column;
        display: none;
        margin-top: 39px;
        width: auto;

        position: absolute;
        right: -16px;

        padding: 1rem;
        width: 100%;
        text-align: center;

        li {
          padding: 7px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menüicon {
  display: none;
}

@media screen and (min-width: 651px) {
  #menüicon {
    display: none;
  }
}

@media screen and (min-width: 651px) {
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  .navigation {
    display: none;
    right: 0;
  }

  #menüicon {
    position: fixed;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(73, 73, 73, 0.8);
    padding: 0.5rem;
    right: 0;
    top: 0;
    border-radius: 10px;
    z-index: 20;
  }
}
